bin/
extras/
gen/
log/
sdk/
war/

# ignore log files dumped by a crashing GWT devmode
javac.*
/*.log

# ignore development properties file
*_dev.properties

# DEBUG: Local changes to make development easier
/ant/apache-ant-1.10.9/
/generatedFiles/
